<div class="container" id="lists">
  <div class="row show-on-desktops">
    <h1 class="six columns">Create a new list</h1>
  </div>
  <div class="row show-on-phones">
    <h1 class="six columns centered">Lists</h1>
  </div>

  <% @lists.each do |list| %>
    <div class="item row">
      <div class="twelve columns large radius white button">
        <%= link_to list.original_text, edit_list_path(list) %>
      </div>
    </div>
  <% end %>
</div>
