<div stlye="padding: 5px" class="container">
  <h1><%= @list_places.first.last.vicinity %></h1>

  <% @list_places.each do |list_place|
    list = list_place.first
    place = list_place.last
  %>
    <div class="list row medium radius white button">
      You had to <%= list.subject %> @ <%= place.name %><br /><br />
      <audio controls = "controls">
        <source src="<%= "/audio/#{list.id}.mp4"%>" type="audio/mp4"/>
        This browser does not support HTML5 audio :-(
      </audio>
      <br/>
    </div>
  <br />
  <% end %>
</div>
